{% extends 'base.html' %}
{% block content %}
<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form action="{% url 'aggnota' %}" method="post" class="card border-0 shadow">
                <div class="card-body p-4">
                    <h1 class="mb-4 text-center text-dark">Agregar Notas</h1>
                    {{error}}
                    {% csrf_token %}
                    {{form}}

                    <button class="btn btn-dark w-100 mt-3">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}