{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="{% static 'plataforma/styles.css' %}">
    <title>Inicio</title>
</head>
<body>
    <h1 class="title">NEW SCHOOL</h1>
    </div class ="button-container">
       <a href="/create/" class="btn">CREATE STUDENT</a>
       <a href="/aggnota/" class="btn">ADD NOTE</a>
    <div>
        

</body>
</html>
{% endblock %}